<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-zkcservice" version="1.0.0">

    <name>ZKCService Plugin</name>

    <description>Communication from your cordova application to an ZKC SmartDeviceAIDL service application.</description>

    <author>Seboka Matsoso</author>

    <license>MIT</license>

    <keywords>Cordova, Android, ZKC900/901, Plugin,POS, Printer</keywords>

    <repo>https://github.com/matsosos/cordova-plugin-zkcservice.git</repo>

    <issue>https://github.com/matsosos/cordova-plugin-zkcservice/issues</issue>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
     <asset src="www/zkcservice.js" target="zkcservice.js" />
    <platform name="android">
       
        <js-module src="www/zkcservice.js" name="ZKCService">
            <clobbers target="ZKCService" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="zkcservice" >
                <param name="android-package" value="ls.co.apos.ZKCServicePlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.smartdevice.aidl.IZKCService"
                android:enabled="true"
                android:process=":remote">               
            </service>
        </config-file>

        <source-file src="src/android/ZKCServicePlugin.java" target-dir="src/ls/co/apos" />		
        <source-file src="aidl/android/IZKCService.aidl" target-dir="src/com/smartdevice/aidl" />
        <source-file src="aidl/android/ICallback.aidl" target-dir="src/com/smartdevice/aidl" />
        <!-- Hack for Cordova android 7, not correctly loading aidl -->
        <source-file src="aidl/android/IZKCService.aidl" target-dir="app/src/main/aidl/com/smartdevice/aidl" />
        <source-file src="aidl/android/ICallback.aidl" target-dir="app/src/main/aidl/com/smartdevice/aidl" />
        
    </platform>
</plugin>
